<div class="main-menu">
    <div style="border-right: 1px solid rgb(201, 193, 193); background-color: #fff;">
        <div style="padding-top: 13px; padding-bottom: 13px;  padding-left:40px" class="menu">
            <i class="far fa-star"></i>
            <a href="#" style="text-decoration: none; color:#000; line-height: 1; font-size: 14px;">Hot Promotions</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-republican"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Consumer Electrics</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px;  padding-left:40px;" class="menu">
            <i class="fas fa-tshirt"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Clothing and Apparel</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-home"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Home, Garden and Chicken</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-gem"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Jewelry and Watches</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-tv"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Computers and technologies</a>
        </div> 
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-volleyball-ball"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Sport and Outdoors</a>
        </div> 
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-book"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Books and Office</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-gem"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Jewelry and Watches</a>
        </div>
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-tv"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Computers and technologies</a>
        </div> 
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-volleyball-ball"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Sport and Outdoors</a>
        </div> 
        <div style="padding-top: 13px; padding-bottom: 13px; padding-left:40px" class="menu">
            <i class="fas fa-volleyball-ball"></i>
            <a href="#" style="text-decoration: none; color:#000; font-size: 14px;">Sport and Outdoors</a>
        </div>
    </div>
</div>
