<div class="my-container">

    <!-- header with gallery-->
    <div class="first-container" style="padding-top: 40px; padding-bottom: 40px;">
        <div class="row header">
            <div class="col-md-3 main-menu"><app-header-menu></app-header-menu></div>

            <div class="col-md-5">
                <app-gallery></app-gallery>
            </div>

            <div class="col-md-4">
                <app-gallary2></app-gallary2>
            </div>


        </div>
    </div>

    <!-- deals -->
    <div>
        <app-deal></app-deal>
    </div>

    <!-- search trending -->
    <div>
        <app-products></app-products>
    </div>

     <!-- categories -->
    <div>
        <app-cloth-cat></app-cloth-cat>
    </div>

    <div>
        <app-footer></app-footer>
    </div>
    
</div>
    





