<div class="container" style="padding: 0px !important;">
    <div class="row row-cols-2">
    <div class="col border"><div class="col border img-fluid container-1"><div class="col-md-12 img-fluid"><img  src="../../assets/phone1.jpg" style=" height: 190px;"></div></div></div>
    <div class="col border"><div class="col border img-fluid container-1"><div class="col-md-12 img-fluid"><img  src="../../assets/phone2.jpg" style=" height: 190px;"></div></div></div>
    <div class="col-12 border" style="width: 100%;"><div class="col border img-fluid container-1"><div class="col-md-12 img-fluid"><img  src="../../assets/lands.jpg" style=" height: 230px;"></div></div></div>
    <div class="col border"><div class="col-md-12 img-fluid"><img  src="/../../assets/pulse.jpg" style=" height: 123px; width:100%;"></div></div>
    <div class="col border"><div class="col-md-12 img-fluid"><img  src="/../../assets/chair.jpg" style=" height: 123px; width:100%;"></div></div>
</div>