
<div class="deal mt-5" style="background: #fff; padding-bottom: 40px;">
    <div style="display:flex; margin: 0px 40px; justify-content: space-between; border-bottom: 1px solid rgb(216, 210, 210);">
        <div style="padding-top:20px"><h4>Deals of the day</h4></div>
        <div  style="padding-top:20px; font-size:20px"><button class="btn btn-outline">View all</button></div>
    </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="goods-display">
                        <img style="width: 60%"  src="../../assets/chair.jpg">
                        <div style="display:flex; margin-left:30px; font-size: 15px;">
                            <p style="padding-right:10px; color: green; font-weight: bold">$569.99</p>
                            <p style="padding-right:10px; color: rgb(174, 169, 169); font-weight: bold"><del>$787.99</del></p>
                            <p style="padding-right:10px; color: #f4703d; font-weight: bold; font-size: 13px !important;">16% off</p>
                        </div>
                        <p style="text-align: left; text-decoration: none; margin-left:30px;">
                            <a href="" style="text-decoration: none;">See how katie sowers, Asst.</a>
                        </p>
                        <div style="text-align: left; margin-left:30px; ">Sold By: YOUNG BOYS </div>
                        <div>
                            <div style="text-align: left; color:#fcb800; font-size: 10px; margin-left:30px;">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- second col -->
         <div class="col">
                <div class="goods-display">
                    <img style="width: 60%"  src="../../assets/cream.jpg">
                    <div style="display:flex; margin-left:30px; font-size: 15px;">
                        <p style="padding-right:10px; color: green; font-weight: bold">$569.99</p>
                        <p style="padding-right:10px; color: rgb(174, 169, 169); font-weight: bold"><del>$787.99</del></p>
                        <p style="padding-right:10px; color: #f4703d; font-weight: bold; font-size: 13px !important;">16% off</p>
                    </div>
                    <p style="text-align: left; text-decoration: none; margin-left:30px;">
                        <a href="" style="text-decoration: none;">See how katie sowers, Asst.</a>
                    </p>
                    <div style="text-align: left; margin-left:30px; ">Sold By: YOUNG BOYS </div>
                    <div>
                        <div style="text-align: left; color:#fcb800; font-size: 10px; margin-left:30px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- third col -->
             <div class="col">
                <div class="goods-display">
                    <img style="width: 60%"  src="../../assets/stick.jpg">
                    <div style="display:flex; margin-left:30px; font-size: 15px;">
                        <p style="padding-right:10px; color: green; font-weight: bold">$569.99</p>
                        <p style="padding-right:10px; color: rgb(174, 169, 169); font-weight: bold"><del>$787.99</del></p>
                        <p style="padding-right:10px; color: #f4703d; font-weight: bold; font-size: 13px !important;">16% off</p>
                    </div>
                    <p style="text-align: left; text-decoration: none; margin-left:30px;">
                        <a href="" style="text-decoration: none;">See how katie sowers, Asst.</a>
                    </p>
                    <div style="text-align: left; margin-left:30px; ">Sold By: YOUNG BOYS </div>
                    <div>
                        <div style="text-align: left; color:#fcb800; font-size: 10px; margin-left:30px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- forth col -->
            <div class="col">
                <div class="goods-display">
                    <img style="width: 60%" src="../../assets/pulse.jpg">
                    <div style="display:flex; margin-left:30px; font-size: 15px;">
                        <p style="padding-right:10px; color: green; font-weight: bold">$569.99</p>
                        <p style="padding-right:10px; color: rgb(174, 169, 169); font-weight: bold"><del>$787.99</del></p>
                        <p style="padding-right:10px; color: #f4703d; font-weight: bold; font-size: 13px !important;">16% off</p>
                    </div>
                    <p style="text-align: left; text-decoration: none; margin-left:30px;">
                        <a href="" style="text-decoration: none;">See how katie sowers, Asst.</a>
                    </p>
                    <div style="text-align: left; margin-left:30px; ">Sold By: YOUNG BOYS </div>
                    <div>
                        <div style="text-align: left; color:#fcb800; font-size: 10px; margin-left:30px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div> 


