
<!--google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<!-- End of google font -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <nav>
      <div class="navbar" style="padding:14px 0px">
        <div class="logo">
          <div class="logo-f" style="font-size: 30px; color:white; font-weight: bold;"><span style="color:#000">FOX</span>NOON</div>
        </div>
        <div class="item search right">
          <div class="search-group">
            <select>
              <option value="all">All</option>
              <option value="all">Mens</option>
              <option value="all">Womens</option>
              <option value="all">Winter</option>
              <option value="all">Summer</option>
            </select>
            <input type="text" style="padding:10px" placeholder="I'm shopping for...">
          </div>
          <button class="search-button" style="padding: 0px 40px">Search</button>
        </div>
        
        <div class="icon" style="display: flex;">
          <a href="" class="  item" style="font-size: 30px;">
            <div class="group" style="padding-right: 15px; padding-top: 2px;">
              <i class="far fa-heart"></i>
            </div>
          </a>
    
          <a href="" class="  item" style="padding-right: 18px; padding-top: 12px;">
            <div class="group">
              <i class="fas fa-shopping-cart"></i>
            </div>
          </a>
    
    
          <a href="" class="  item">
            <div class="group">
              <i style="font-size: 30px;" class="fas fa-user-alt"></i>
              <div class="detail" style="font-weight: 700; font-size: 15px; padding-left:5px">
                Login
                <div class="sub" style="font-weight: 700; font-size: 15px; padding-left:5px">Register</div>
              </div>
            </div>
          </a>
        </div>
  
        <!-- small screen -->
        <div class="item search right S2">
          <div class="nav-btn">
            <label for="nav-check">
              <i class="fas fa-bars"></i>
            </label>
          </div>
          <div class="search-group">
              <select>
                <option value="all">All</option>
                <option value="all">Mens</option>
                <option value="all">Womens</option>
                <option value="all">Winter</option>
                <option value="all">Summer</option>
              </select>
            <input type="text" style="padding:5px" placeholder="I'm shopping for...">
            </div>
          <div><button class="search-button" style="padding: 7px 10px"><i class="fas fa-search"></i></button></div>
          
        </div>
      </div>
    </nav>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script> 
 



<router-outlet></router-outlet>