<section class="cart_section">
    <div class="container">
        <h2>Cart</h2>
        <div *ngIf = "getCartDetails">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove Item</th>
                    <th>Sub Total</th>
                </tr>
                <tr *ngFor = "let getCartDetail of getCartDetails">
                    <td><img style="width:13%" src="{{getCartDetail.imageUrl[0]}}" alt=""><span style="margin-left:5%; font-weight: bold;">{{getCartDetail.name}}</span></td>
                    <td style="text-align: center !important;">{{getCartDetail.price  | currency}}</td>
                    <td style="text-align: center !important;">
                        <div class="col-md-3" style="padding:0px !important">
                            <div style="display: flex; width:100px; padding: 10px 0px; font-size:16px; justify-content: space-evenly;  border: 1px solid black"> 
                                <div style="cursor: pointer; font-size:35px" (click)="decreaseQty(getCartDetail.id, getCartDetail.qty)">-</div>
                                <div>{{getCartDetail.qty}}</div>
                                <div style="cursor: pointer;  font-size:20px" (click)="increaseQty(getCartDetail.id, getCartDetail.qty)">+</div>
                            </div>
                        </div>
                    </td>   
                    <td style="text-align: center !important; color:red;font-size: 120%; cursor: pointer;" (click)="removeItem(getCartDetail.id)"><i class="far fa-trash-alt"></i></td>
                    <td style="text-align: center !important;">{{getCartDetail.qty * getCartDetail.price}}</td>
                </tr>
            </table>
    
            <div style="display: flex; margin-top: 1%; float: right;">
    
                <div style="background-color:red; color:#fff; margin-right:20px; border-radius: 5px;" (click)="removeAll()"><button type="button" style="color:#fff" class="btn btn btn-md">Clear Cart</button></div>
                <div style="background-color:#fcb800; color:#fff; border-radius: 5px;"> <button type="button" style="font-weight: 500;" class="btn btn btn-md">Checkout: <span>${{total}}</span></button></div>
           
            </div>
        </div>
    </div>
</section>